<simple-app-header [header]="headerModel"></simple-app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'booking.first-name' | translate}}:</ion-label>
      <ion-input [(ngModel)]="booking.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'booking.last-name' | translate}}:</ion-label>
      <ion-input [(ngModel)]="booking.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'booking.phone' | translate}}:</ion-label>
      <ion-input [(ngModel)]="booking.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'booking.plate-number' | translate}}:</ion-label>
      <ion-input [(ngModel)]="booking.plateNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'booking.description' | translate}}:</ion-label>
      <ion-textarea rows="5" [(ngModel)]="booking.description" class="task-description-area"></ion-textarea>
    </ion-item>
    <button ion-button full (click)="sendMessage()" expand="block">{{'button.send' | translate}}</button>
  </ion-list>
</ion-content>