<simple-app-header [header]="headerModel" (onCloseBtnClick)="dismissModal()"></simple-app-header>

<ion-content padding *ngIf="plan">
  <ion-item>
    <ion-label>Date:</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="plan.date" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>{{plan.recipe.name}}</ion-label>
    <ion-buttons item-right>
      <button ion-fab clear (click)="newRandomRecipe()" color="red" class="list-item-button new-random">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>

  <ion-row>
    <ion-col class="center">
      <button ion-button (click)="savePlan()">Save</button>
    </ion-col>
  </ion-row>
</ion-content>