<simple-app-header [header]="headerModel"></simple-app-header>

<ion-content padding>

  <ion-list>
    <ion-item-group>
      <ion-list-header>{{'contact.header.message' | translate}}</ion-list-header>
      <ion-item>
        <ion-label class="label-auto">Company:</ion-label>
        <ion-select [(ngModel)]="message.userId" multiple="false" cancelText="Cancel" okText="Save">
          <ion-option value="{{user.userId}}" *ngFor="let user of users">{{user.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{'contact.name' | translate}}:</ion-label>
        <ion-input [(ngModel)]="message.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'contact.email' | translate}}:</ion-label>
        <ion-input [(ngModel)]="message.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'contact.phone' | translate}}:</ion-label>
        <ion-input [(ngModel)]="message.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'contact.subject' | translate}}:</ion-label>
        <ion-input [(ngModel)]="message.subject"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'contact.message' | translate}}:</ion-label>
        <ion-textarea rows="5" [(ngModel)]="message.message" class="task-description-area"></ion-textarea>
      </ion-item>
      <button ion-button full (click)="sendMessage()" expand="block">{{'button.send' | translate}}</button>
    </ion-item-group>
  </ion-list>
</ion-content>