<simple-app-header [header]="headerModel"></simple-app-header>

<ion-content>
  <img src="assets/imgs/about-us.jpg" />
  <ion-item no-lines text-wrap>
    <ion-label>
      TODO - Mikor alakultak, egy kis tortenelem kepekkel. Az uj cegrol infok.
      Le lehet irni, hogy mivel foglalkoznak. Pl mechanika, festeszet, legkondizas, gumicsere.
      Elektronikaval nem foglalkoznak.
      <br/><br/>
      Dissuade ecstatic and properly saw entirely sir why laughter endeavor. In on my jointure horrible margaret
      suitable he followed speedily. Indeed vanity excuse or mr lovers of on. By offer scale an stuff. Blush be sorry
      no sight. Sang lose of hour then he left find.
      <br/><br/>
      Possession her thoroughly remarkably terminated man continuing. Removed greater to do ability. You shy shall
      while but wrote marry. Call why sake has sing pure. Gay six set polite nature worthy. So matter be me we wisdom
      should basket moment merely. Me burst ample wrong which would mr he could. Visit arise my point timed drawn no.
      Can friendly laughter goodness man him appetite carriage. Any widen see gay forth alone fruit bed.
      <br/><br/>
      Respect forming clothes do in he. Course so piqued no an by appear. Themselves reasonable pianoforte so
      motionless he as difficulty be. Abode way begin ham there power whole. Do unpleasing indulgence impossible to
      conviction. Suppose neither evident welcome it at do civilly uncivil. Sing tall much you get nor.
      <br/><br/>
      Savings her pleased are several started females met. Short her not among being any. Thing of judge fruit charm
      views do. Miles mr an forty along as he. She education get middleton day agreement performed preserved unwilling.
      Do however as pleased offence outward beloved by present. By outward neither he so covered amiable greater.
      Juvenile proposal betrayed he an informed weddings followed. Precaution day see imprudence sympathize principles.
      At full leaf give quit to in they up.
      <br/><br/>
      In to am attended desirous raptures declared diverted confined at. Collected instantly remaining up certainly to
      necessary as. Over walk dull into son boy door went new. At or happiness commanded daughters as. Is handsome an
      declared at received in extended vicinity subjects. Into miss on he over been late pain an. Only week bore boy
      what fat case left use. Match round scale now sex style far times. Your me past an much.
      <br/><br/>
      Surprise steepest recurred landlord mr wandered amounted of. Continuing devonshire but considered its. Rose past
      oh shew roof is song neat. Do depend better praise do friend garden an wonder to. Intention age nay otherwise but
      breakfast. Around garden beyond to extent by.
    </ion-label>
  </ion-item>
</ion-content>