<simple-app-header [header]="headerModel"></simple-app-header>

<ion-content padding>
  <ion-item>
    <ion-label>Start date</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="startDate" (ionChange)="filterPlans()" placeholder="Start date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End date</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="endDate" (ionChange)="filterPlans()" placeholder="End date"></ion-datetime>
  </ion-item>
  <ion-item *ngFor="let plan of planList" (click)="openPlan(plan)">
    <h2>{{plan.recipe.name}}</h2>
    <p>{{plan.date | date:"MM/dd/yyyy"}}</p>
    <ion-buttons item-right>
      <button ion-fab clear (click)="deletePlan($event, plan)" color="bluedark" class="list-item-button">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>
</ion-content>

<ion-fab right bottom>
  <button ion-fab (click)="createPlan()" color="bluedark">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>